@page
@model BasedClub.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<section id="main">
    <h1>Good @Model.TimeOfDay, and welcome to The Based Club!</h1>
    <p>Kami Merupakan Perusahaan Di Bidang Clothing Yang Bertempat Di Bandung Toko Kami Berdiri Sejak 2019.</p>
    <p>Perusahaan ini Berfokus Di Bidang Clothing SubCulture Yang Beberapa Design Memang Dikusukan Bagi Kaum Muda Mudi
    </p>
</section>